#Ignore everything by default
*

#Explicitly save this files 
!.gitignore
!Modules/
!configs/
!Raw_rates_calculation/

!Standard_analysis.py
!Modules/DatasetAnalysis.py
!Modules/ExpoFitter.py
!Modules/GaussFitter.py
!Modules/PmtLookup.py
!Modules/RateCalculator.py
!Modules/RootIO.py
!Modules/__init.py__
!configs/**
!Raw_rates_calculation/Calculate_raw_rates.py
